div{
    color: red;
    border: 1px solid green;
    background: yellow;
    padding: 5px;
    text-align: center;
}

div.img{
  
    align-content: left;
}

h2{
    color: red;
    border: 1px solid green;
    background: yellow;
    padding: 5px;
    font-size: 10;
}

.big{
    font-family: 'Times New Roman', Times, serif;
    font-size: 45px;
    font-weight: bold;
}

.blue{
    color:blueviolet; 
}

p {
    color: DarkGray;
    cursor: pointer;
    margin-bottom: 10px;
  }

 test {
     color: Black;
     border: 1px solid rebeccapurple;
     padding: 9px;
   }
