div{
    color: red;
    border: 1px solid green;
    background: yellow;
    padding: 5px;
    text-align: center;
}

div.img{
  
    align-content: left;
}

h2{
    color: red;
    border: 1px solid green;
    background: yellow;
    padding: 5px;
    font-size: 10;
}
